.header-title {
  font-weight: lighter;
  font-size: 4rem;
  text-align: center;
  margin: 1rem 0;
}

/* SearchUser.css */

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffeb3b;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}

input {
  padding: 10px;
  margin-right: 5px;
  font-size: 16px;
  border: 1px solid #e57373;
}

button {
  padding: 10px 15px;
  font-size: 20px;
  background-color: #e1f5fe;
  color: #00008b;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.drop-down {
  position: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-height: 150px;
  overflow-y: auto;
  width: 200px;
  border-radius: 4px;
  top: 100%;
  left: 0;
}


.drop-down div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #fff8e1;
  }
}

.drop-down hr {
  margin: 5px 0;
  border: 0;
  border-top: 1px solid #fdd835;
}

.link-style{
  text-decoration: none;
  color: #333;
}
.link-style:hover{
  color: #ac5353;
}

.search-button:hover {
  background-color: #206d8e; /* Green background on hover */
  color: white; /* White text on hover */
  cursor: pointer; /* Add a pointer cursor on hover */
}

.hoverable:hover {
  background-color: #f0f0f0; /* Add your desired background color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
